/* Edit this file to make default app-wide styles */

@font-face {
  font-family: 'FuturyLight';
  src: url('./fonts/FuturyLight-MAOLv.ttf') format('opentype');
}

.fake-bold {
  text-shadow:
    0.5px 0 currentColor,
   -0.5px 0 currentColor,
    0 0.5px currentColor,
    0 -0.5px currentColor;
}

#root {
  margin: 0;
  padding: 0;
  font-family: 'FuturyLight';
}